* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  background: #f2f2f2;
  color: #3e3e3e;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
}

header {
  background: #4a90e2;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 42px;
}

.perfil {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.perfil span {
  font-weight: bold;
  margin-right: 0.5rem;
}

.perfil img {
  width: 24px;
}

.post {
  list-style: none;
  margin: 0 auto;
  width: 80%;
}

.post-item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
}
.post-item p {
  font-size: 14px;
  line-height: 1.5;
}

.post-item hr {
  border: 1px solid #eee;
  margin: 20px 0;
}

.post-user {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.avatar {
  margin-right: 10px;
  min-height: 32px;
  min-width: 32px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.post-user p {
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
}

.post-user small {
  color: #9a9a9a;
  font-size: 11px;
}

.comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
/*
.comment img {
  border-radius: 50%;
  margin-right: 10px;
  width: 42px;
}
 */
.comment p {
  background: #eee;
  border-radius: 20px;
  padding: 10px 15px;
}

.comment strong,
.comment p {
  font-size: 13px;
  line-height: 1.7;
}
