* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f2f2f2;
  color: #3e3e3e;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background: #4a90e2;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 42px;
}

.perfil {
  display: flex;
  align-items: center;
}

.perfil span {
  font-weight: bold;
  margin-right: 0.5rem;
}

.perfil img {
  width: 24px;
}
