<strong>Olá, {{ deliveryman }}</strong>
<p>A encomenda a baixo descrita foi cancelada</p>
<p>
  <strong>Descrição</strong> {{ product }}<br>
  <strong>Destinatário</strong> {{ recipient }}<br>
  <strong>Motivo</strong> {{ description }}
</p>
